@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --main-color: #f39c12;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EFF0F6;
  font-family: 'Poppins Light', sans-serif;
}
